* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
 
}
html, body {
    height: 100%;}
body {
    --maxWrapperWidth: 1000px;


    font-family:'Bona Nova', serif ;
     
    font-size: 19px;
    color: black;
    background-color: rgb(255, 255, 255);
    
}

p {
    margin-bottom: 20px;
    line-height: 150%;
     
      
        
}

p.colored-text {
    color:rgb(217, 181, 105);
  
    font-size: 25px;
    font-weight: 400;
    font-style:italic;
}
p.grey{
    color: #888;
    font-size: 18px;
    font-family: 'Bona Nova', serif;
    
}

section {
    margin-bottom: 70px;
}

div#wrapper {
    width: 100%;
    margin: auto;
    min-height: 100%;
    max-width: var(--maxWrapperWidth);
    display: flex;
    flex-direction: column;

}

header {
    text-align: center;
    padding: 5rem 0;
    position: relative;

}


div#top-logo {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-bottom: 2rem;
}
div#top-logo > a > img {
    height: 100%;
    padding: 0.5rem;
   
}

    
   

header h2 {
    font-size: 1.5rem;
    color: rgb(217, 181, 105);
    font-style: italic;
    margin-bottom: 2.5rem;
}

header nav.dropdown-menu {
    display: none;
    text-align: right;}

header nav.dropdown-menu span {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(217, 181, 105);;
    cursor: pointer;
}
header nav.hidden-menu {
    display: none;
    position: absolute;
    max-width: 320px;
    width: 100%;
    right: 0px;
    background-color: rgb(255, 255, 255);
}

header nav.hidden-menu a {
    display: block;
    padding: 0.5rem;
    width: 100%;
    text-align: left;
}

header nav a  {
    color: rgb(102, 102, 102);
    font-family: Geneva, sans-serif;
    font-size: 0.7rem;
    padding: 0 1rem;
    transition: all 0.5s;
    letter-spacing: .2rem;
}
main {
    flex-grow: 1;
}
header nav a:hover {
    color: rgb(217, 181, 105);
}

header nav a.active {
    color: rgb(217, 181, 105);
}

section.full-width-image > img {
    width: 100%;

  
    
}

section.two-boxes {
    width: 100%;
    display: flex;
    gap:5%;
    align-items:flex-start;
}
section.two-boxes > div {
    width: 100%;
}

section.two-boxes > div > img {
    width: 100%;
}



section.two-texts {
    display: flex;
    justify-content: space-between;
}

section.two-texts > div {
    width: 47%;
}

section.two-texts > div:nth-child(1) > h2 {
    color: rgb(34, 34, 34);
    font-size: 2.8rem;
}

section.three-images {
    display: flex;
    justify-content: space-between;
}

section.three-images > img {
    width: 30%;
}

section.reservation {
    text-align: center;
}

section.reservation > h2 {
    color: rgb(34, 34, 34);
    font-size: 3.1rem;
}

section.reservation > a {
    font-size: 15px;
    color: rgb(34, 34, 34);
    padding: 1rem 3.5rem;
    border: solid thin rgb(217, 181, 105);
    transition: all 0.5s;
    margin-top: 2rem;
    display: inline-block;
    letter-spacing: 2px;
}

section.reservation > a:hover {
    border-color: rgb(34, 34, 34);
}

footer {
    width: 100%;
    border-top: solid thin rgb(174, 174, 174);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding-top: 1rem;
}

footer > div > p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;

}
footer > div:nth-child(1) {
    width: 35%;
    text-align: center;
    
}
footer > div:nth-child(2) {
    width: 20%;
}

footer > div:nth-child(3) {
    width: 40%;
}


footer div:nth-child(2) h3 {
    margin-bottom: 0.3rem;
   font-size: 20px;
   color: rgba(0, 0, 0, 0.6);
    font-family: Geneva, sans-serif;
    
}

footer div:nth-child(2) a {
    display: block;
    transition: all 0.5s;
    font-size: 15px;
    color:  rgba(0, 0, 0, 0.6);
    font-family: 'Bona Nova',serif;
    padding: 0.2rem 0;

}

footer div:nth-child(2) a:hover {
    margin-bottom: 1rem;
    color:bisque;
}

footer div:nth-child(3) h3 {
    margin-bottom: 1rem;
    font-size: 20px;
    color: rgb(64, 64, 64);
    font-family: Geneva, sans-serif;
    
}
footer div img {
    height: 70px;
    
}

form#newsletter {
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

form#newsletter input {
    border: solid thin rgb(217, 181, 105);
    margin-bottom: .7rem;
    padding: 0.5rem;
}

form#newsletter input:first-child {
    width: 100%;
}

form#newsletter input:focus {
    background-color: rgba(207, 207, 205, 0.605);
}

form#newsletter input::placeholder {
    color:rgb(0, 0, 0);
}

form#newsletter input:last-child {
    width: max-content;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 4px;
}
@media screen and (max-width: 1000px) {
    main {
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 17px;
    }
    footer {
        /* justify-content: space-around; */
        padding-left: 10%;
        padding-right: 10%;
    }

    footer > div:nth-child(1) {
        width: 45%;
    }
    footer > div:nth-child(2) {
        width: 30%;
    }

    footer > div:nth-child(3) {
        width: 100%;
    }
    footer > div:nth-child(3) > h3 {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 680px) {
    nav.main-menu  {
        display: none;
    }
    header nav.dropdown-menu {
        display: block;
    }


}

@media screen and (max-width: 600px) {
    section.two-boxes {
        
        flex-direction: column;
    }
   
    section.contact
    {flex-direction: column;}
    
    

  

    section.two-texts {
        flex-direction: column;
    }
    section.two-texts > div {
        width: 100%;
    }
    section.two-texts > div {text-align: center;
}
}

@media screen and (max-width: 580px) {
    section.three-images {
        flex-direction: column;
    }
    
    section.three-images > img {
        width: 100%;
    }

    footer > div:nth-child(1) {
        width: 100%;
    }
    footer > div:nth-child(2) {
        width: 100%;
    }
}
